# App
PORT=3333
NODE_ENV=""

# Auth
JWT_SECRET=""

# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Github
GITHUB_CLIENT_ID="1fc02134bfc31cf3b2f4"
GITHUB_CLIENT_SECRET="acb853e2de5722320fcc59a149d66997c296e4f8"
