# App
PORT=3333
NODE_ENV=""

# Auth
JWT_SECRET=""

# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Resend
RESEND_KEY=""

# Github
GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_CLIENT_SECRET=""
